<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    {{>navbar}}

    {{!-- hero section start --}}


    <div class="container-fluid mt-5">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
              <div class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
                <h1>WE HELP YOU TO</h1>
                <h1>GROW YOUR BUSINESS</h1>
                <p>We Are The Team Of <span class="bold-style">Professional Developer</span></p>
                <button class="btn-style btn-primary">Read More</button>
              </div>

                {{!-- right side --}}

              <div class="col-md-6 col-12 hero-text order-md-0 order-0">
                  <figure>
                    <img src="images/growth.svg" alt="herosectionimage" >
                  </figure>
              </div>
            </div>
        </div>
      </div>
    </div>

    
    {{!-- hero section end --}}

    {{!-- about section start --}}


    <div class="container-fluid mt-5 about-style" id="aboutid">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <h1 class="text-center main-heading">About US</h1>
          <p class="text-center sub-heading">grow your business with us</p>
            <div class="row">
              

              <div class="col-md-6 col-12 hero-text order-md-0 order-0">
                  <figure>
                    <img src="images/about.svg" alt="herosectionimage" >
                  </figure>
              </div>

                {{!-- right side --}}
              <div div class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
                <h1>WE ARE THE PROFESSIONAL DEVELOPER</h1>
                
                <p>Lorem ipsum dolor sit amet, <span class="style-bold">adipisicing elit. Molestias </span> officiis omnis reiciendis nam animi! Voluptatem inventore voluptatibus dolorem deleniti eligendi quia dolores blanditiis illum praesentium.</p>
                <button class="btn-style btn-primary">Read More</button>
              </div>
             
            </div>
        </div>
      </div>
    </div>

    
    {{!-- about section end --}}

    <script src="../jq/jquery.js" type="text/javascript"></script>
    <script src="../js/bootstrap.js" type="text/javascript"></script>
</body>
</html>